<div class="book-intro-cta row free-width">
	<div class="columns twelve">
		<p>
			Har du fået blod på tanden i forhold til passiv investering?
		</p>
		<p>
			Klik her og få lavet en gratis investeringsplan og se uforpligtende,hvilken portefølje NORD og vores partnerbank vil anbefale dig
		</p>
		<a class="button button-green" href="https://calendly.com/nord-investments/intro">Bliv ringet op med en introduktion</a>
	</div>
</div>
