<footer class="site-footer clearfix row free-width">
	<div class="ten columns offset by-one">
		<div class="row cta">
			<div class="whole column">
				<div class="row">
					<div class="whole column">
            <p>NORD ER EN DIGITAL INVESTERINGSSERVICE, DER I SAMARBEJDE MED SAXO BANK, HJÆLPER DIG MED AT DESIGNE OG VEDLIGEHOLDE DIN PORTEFØLJE</p>
					</div>
				</div>
				<div class="row">
					<div class="whole column">
						<a class="button button-green" href="https://www.nord.investments/investeringsplan">Gratis investeringsplan</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row info">
			<div class="columns four">
				<ul class="mobile-space-below inner-text">
					<li>NORD.INVESTMENTS A/S</li>
					<li>Højbro Plads 10</li>
					<li>DK-1200 København K</li>
					<li>CVR: 37226939</li>
					<li><a href="mailto:hello@nord.investments">hello@nord.investments</a></li>
				</ul>
			</div>
			<div class="columns four">
				<ul class="inner-text">
					<li><a href="https://www.nord.investments/static/Almindelige_forretningsbetingelser-dcd51208d8ce3ece2ed608e76e11c42e.pdf" target="_blank">FORRETNINGSBETINGELSER</a></li>
					<li><a href="https://www.nord.investments/static/Cookie_og_privatlivspolitik-00221ea6054251207f7d17d0a2360aa1.pdf" target="_blank">PRIVATLIVSPOLITIK</a></li>
					<li><a href="https://www.nord.investments/static/Haandtering_af_interessekonflikter_for_NORD_investments-f95f9e11d9ea374fd62842f7ed586b4c.pdf" target="_blank">INTERESSEKONFLIKTPOLITIK</a></li>
					<li><a href="https://www.nord.investments/static/Loenpolitik_for_NORD_investments-cde13c45ebf94e82647999bba8157e1d.pdf" target="_blank">LØNPOLITIK</a></li>
				</ul>
			</div>
			<div class="columns four">
				<ul class="inner-text">
          <li><a href="https://www.nord.investments/vi-tilbyder">Vi tilbyder</a></li>
          <li><a href="https://www.nord.investments/afkast">Afkast</a></li>
					<li><a href="https://www.nord.investments/priser">Priser</a></li>
					<li><a href="http://blog.nord.investments" target="_blank">Blog</a></li>
					<li>
						<a href="http://faq.nord.investments" target="_blank">
							FAQ
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row ka">
			<div class="column whole">
				<div class="row">
					<div class="column whole">
						<a href="https://www.home.saxo/da-dk" target="_blank" title="Saxo Bank homepage">
							<img src="https://www.nord.investments/static/saxo-logo-02b32eb738c79d2d8124c95092a037ae.png" alt="Saxo bank" title="Saxo Bank logo"/>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="column whole">
						<p>
							NORD.INVESTMENTS A/S HAR TILLADELSE SOM INVESTERINGSRÅDGIVER OG ER REGULERET AF FINANSTILSYNET
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
