<ul class="centered-axis-xy">
	<li><a class="" href="https://www.nord.investments">Forside</a></li>
	<li><a class="" href="https://www.nord.investments/om">Om</a></li>
	<li><a class="" href="https://www.nord.investments/priser">Priser</a></li>
	<li><a class="" href="http://faq.nord.investments">FAQ</a></li>
	<li><a class="" href="http://blog.nord.investments">Blog</a></li>
	<li><a class="button button-green book-intro" href="https://calendly.com/nord-investments/intro">Book intro</a></li>
</ul>
