{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<header class="main-header post-head" id="main-header">
  <nav class="main-nav {{#if feature_image}}overlay{{/if}} clearfix">
    {{#if @blog.logo}}<a class="blog-logo" href="{{@site.url}}"><img src="{{@site.logo}}"
        alt="{{@site.title}}" /></a>{{/if}}

    {{!-- Include the nav links--}}
    {{> "nav"}}
  </nav>
  <aside id="navicon">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </aside>
</header>


{{!-- The main content area on the all page --}}
<main class="content" role="main">

  {{> "loop" limit="all"}}

</main>
